body {
    /*background: url(http://dachnaya-zhizn.ru/images/dacha/3812.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial;
    font-size: 3.2vw;
    background-color: #c5d4ff;
}


h4.text-center {
    font-size: 40px;
    color: rgba(136, 31, 45, 0.93);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.12em;
}
input.btn {
    font-size: 18px;

    color: #7c69ff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.12em;
}
main p.text-center {
    border: 1px solid black;
    font-size: 24px;
    color: #e6ff54;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.12em;
}


